<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio Ghibli API</title>
    <script src="https://kit.fontawesome.com/c5dc02393b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&family=Josefin+Sans&family=Koulen&family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="hero-container">
            <img src="img/Studio_Ghibli.webp" alt="">
            <nav class="nav-container">
                <ul class="links-container">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="favoritos.html">Favoritos</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="app">
        <div class="pelicula-container" v-for="pelicula in peliculas" v-if="peliSeleccionada == pelicula.id">
            <h3>{{pelicula.title}}</h3>
            <img :src="pelicula.image" alt="">
            <p>{{pelicula.description}}</p>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>